{% include 'users/navbar.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<style>
    .product-container {
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .main-image {
        width: 70%; 
        border: 3px solid #000000;
        padding: 10px;
    }
    .thumbnail-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%; 
    }
    .thumbnail-image {
        width: 20%; 
        cursor: pointer;
    }
</style>

<div class="breadcrumb">
    <a href="{% url 'home' %}">Home</a> &gt;
    <a>{{ product.get_category_display}}</a> &gt; 
    <a href="{% url 'product_detail' product.id %}">{{ product.Product_name }}</a>
</div>

<div class="product-container">
    <div class="main-image">
        <img id="mainImage" class="image-thumbnail" src="{{ product.thumbnail.url }}" alt="{{ product.name }} thumbnail">
    </div>
    
    <div class="thumbnail-images">
        {% for product_image in product_images %}
        <img class="thumbnail-image" src="{{ product_image.image.url }}" alt="{{ product.name }} thumbnail" onclick="displayMainImage('{{ product_image.image.url }}')">
        {% endfor %}
    </div>
    
    <div class="details-box">
        <ul>
            <li style="font-size: 25px;"><strong>{{ product.Product_name }}</strong></li>
            <li><strong>Brand:</strong> {{ product.brand_name }}</li>
            <li>
                {% if product.discount_percentage != 0 %}
                <li class="product-price">₹{{ product.discounted_price }} <span class="original-price">₹{{ product.price }}</span> <span class="discount_text">{{ product.discount_percentage }}% off</span></li>
                {% else %}
                <li class="product-price">₹{{ product.price }}</li>
                {% endif %}
            </li>
            <li><strong>Weight:</strong> {{ product.weight }}{{ product.weight_unit }}</li>
            <li><strong>Expiry:</strong> {{ product.expiry_date }}</li>
        </ul>
    </div>
</div>

<div style="font-size: 20px; margin-left: 20px;"><strong>Description:</strong> {{ product.description }}</div>

{% include 'users/footer.html' %}

<script>
    function displayMainImage(imageUrl) {
        document.getElementById("mainImage").src = imageUrl;
    }
</script>

{% endblock %}
